{% extends 'clinica/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center text-danger mb-4">Confirmar Exclusão</h2>

    <div class="alert alert-warning text-center" role="alert">
        <p>Você tem certeza que deseja excluir o prontuário de <strong>{{ prontuario.paciente.nome }}</strong>?</p>
        <p>Essa ação não pode ser desfeita.</p>
    </div>

    <div class="d-flex justify-content-center">
        <form method="post" class="mr-3">
            {% csrf_token %}
            <button type="submit" class="btn btn-danger">Excluir</button>
            <a href="{% url 'listar_prontuarios' %}" class="btn btn-secondary">Cancelar</a>
        </form>
        
    </div>
</div>
{% endblock %}
