<!-- clinica/templates/clinica/listar_pacientes.html -->
{% extends 'clinica/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="mb-4 text-center">Lista de Pacientes</h2>

    <!-- Link para adicionar um novo paciente -->
    <div class="mb-3 text-center">
        <a href="{% url 'adicionar_paciente' %}" class="btn btn-primary">Adicionar Novo Paciente</a>
    </div>

    <div class="table-responsive">
        <table class="table table-hover table-bordered">
            <thead class="table-light">
                <tr>
                    <th>Nome</th>
                    <th>Data de Nascimento</th>
                    <th>Ações</th>
                </tr>
            </thead>
            <tbody>
                {% for paciente in pacientes %}
                <tr>
                    <td>{{ paciente.nome }}</td>
                    <td>{{ paciente.data_nascimento|date:"d/m/Y" }}</td>
                    <td>
                        <a href="{% url 'detalhe_paciente' paciente.id %}" class="btn btn-info btn-sm">Detalhes</a>
                        <a href="{% url 'editar_paciente' paciente.id %}" class="btn btn-warning btn-sm">Editar</a>
                        <a href="{% url 'deletar_paciente' paciente.id %}" class="btn btn-danger btn-sm">Excluir</a>
                    </td>
                </tr>
                {% empty %}
                <tr>
                    <td colspan="3" class="text-center">Nenhum paciente encontrado.</td>
                </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>

    <div class="text-center mt-4">
        <a href="{% url 'pagina_inicial' %}" class="btn btn-secondary">Página Inicial</a>
    </div>
</div>
{% endblock %}
