{% extends 'clinica/base.html' %}

{% block content %}
<div class="container mt-5">
    <h2 class="text-center mb-4">Lista de Receitas</h2>

    <div class="mb-3 text-right">
        <!-- Botão para adicionar receita -->
        <a href="{% url 'adicionar_receita' %}" class="btn btn-success">Adicionar Receita</a>
    </div>

    <table class="table table-striped">
        <thead>
            <tr>
                <th>Paciente</th>
                <th>Medicamento</th>
                <th>Dosagem</th>
                <th>Instruções</th>
                <th>Data</th>
                <th>Ações</th>
            </tr>
        </thead>
        <tbody>
            {% for receita in receitas %}
            <tr>
                <td>{{ receita.paciente.nome }}</td>
                <td>{{ receita.medicamento.nome }}</td>
                <td>{{ receita.dosagem }}</td>
                <td>{{ receita.instrucoes }}</td>
                <td>{{ receita.data|date:"d/m/Y" }}</td>
                <td>
                    <!-- Botão para detalhes da receita -->
                    <a href="{% url 'detalhes_receita' receita.id %}" class="btn btn-info btn-sm">Detalhes</a>

                    <!-- Botão para remover receita -->
                    <form action="{% url 'remover_receita' receita.id %}" method="post" class="d-inline">
                        {% csrf_token %}
                        <button type="submit" class="btn btn-danger btn-sm">Remover</button>
                    </form>
                </td>
            </tr>
            {% endfor %}
        </tbody>
    </table>
</div>
{% endblock %}
